h2 {
    font-size: 48px;
    font-family: 'Pacifico', serif;
    font-weight: 600;
}

section.top {
    background: linear-gradient(#EBAFAD, #FFFFFF);
}

nav.navbar {
    padding-top: 1%;
    background-color: #BA8FC4;
}


.zigzag {
    position: absolute;
    width: 100%;
    height: 30px;
    border-top: 0px solid #BA8FC4; 
    background: linear-gradient(-45deg, transparent 75%, #BA8FC4 75%),
                linear-gradient( 45deg, transparent 75%, #BA8FC4 75%) 0 50%;
    background-repeat: repeat-x;
    background-size: 30px 30px, 30px 30px;
    z-index: 0;
}

div.logo {
    padding-left: 2%;
}

div.logo .navbar-brand {
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    text-decoration: none;
    color: #FFF;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

ul.nav {
    margin-right: 1%;
}

ul.nav li a {
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    color: #FFF;
}

ul.nav li a:hover {
    color: #b845d4;
}

ul.nav li a.nav-contact-link:hover {
    background-color: transparent;
}

button.nav-contact {
    margin-top: -8%;
    border-radius: 0px !important;
    background-color: #36007F;
    color: #FFFFFF;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}

div.main-head {
    height: auto;
    margin-top: 5%;
}

div.main-head-img img {
    height: auto;
    width: 80%;
    min-width: 250px;
}

div.main-head-txt {
    margin-left: 4%;
    padding-top: 4%;
}

div.main-head-txt h1 {
    font-family: 'Pacifico', cursive;
    color: #FFFFFF;
        text-shadow: 0 0 5px #F765B9, 0 0 10px #F765B9, 0 0 5px #ff0080, 0 0 5px #ff0080, 0 0 5px #ff0080, 0 0 30px #ff0080, 0 0 50px #ff0080;
    font-size: 48px;
}

div.main-head-txt h3 {
    font-family: 'Merriweather', serif;
    font-size: 36px;
    color: #7F5B6D;
}

img.flowers {
    margin-top: -80%;
    width: 100%;
    position: absolute;
    left: 290%;
    padding-top: 100px;
    z-index: 1;
}

div.about {
    margin-top: 10%;
    margin-left: auto;
}

div.about h2 {
    color: #F765B9;
    margin-left: 4%;
}

div.about-body {
    font-family: 'Cormorant Garamond', serif;
    color: #7F5B6D;
}

div.about-txt {
    margin-top: -10px;
}

div.about-body div p {
    font-size: 1.5em;
    margin-top: 3%;
    margin-left: 5%;
}

.polaroid-image a
{
	background: white;
	float: left;
	margin: 15px 15px 30px 15px;
	padding: 15px 15px 45px;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index: 0;
    width: 100%;
    height: auto;
}

.polaroid-image a:after {
	color: #333;
	font-size: 20px;
	content: attr(title);
	top: 15px;
}

.polaroid-image img { 
	display: block; 
	width: inherit; 
}

.polaroid-image a:hover{
	-webkit-transform: rotate(0deg); 
	-moz-transform: rotate(0deg);
        transform: rotate(0deg);
	-webkit-transform: scale(1.2); 
	-moz-transform: scale(1.2);
        transform: scale(1.1);
	z-index:10;
	-webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, .7);
	-moz-box-shadow: 0 10px 20px rgba(0,0,0,.7);
        box-shadow: 0 10px 20px rgba(0,0,0,.7);
}

div.about-break {
    margin-top: 15%;
}

div.bottom {
    position: relative;
    background-image: url(images/background1.png);
   /* background-position: top center; */
    background-size: cover;
}

div.leaves-2 {
    position: absolute;
    top: -1%;
}

img.leaves2 {
    width: 100%;
    height: auto;
}

div.projects-head h2 {
    color: #ffffff;
}

div.projects {
    margin-top: 10%;
}

img.project1 {
    width: 100%;
    margin-top: 5%;
    max-width: 500px;
    position: relative;
    z-index: 5;
}

img.project2 {
    width: 100%;
    height: 200px;
    margin-top: 3%;
    margin-bottom: 10%;
}



div.foot-head {
    text-align: center;
    font-family: 'Pacifico', serif;
    color: #FFFFFF;
    position: relative;
    z-index: 5;
}

div.foot-head h3 {
    margin-top: 50px;
    font-size: 48px;
    text-align: center;
    line-height: 70px;
}

button.send-email {
    border-radius: 0px !important;
    background-color: #3FA8BF;
    color: #FFFFFF;
    font-family: 'Cormorant Garamond', serif;
    font-size: 40px;
    padding: 10px 110px;
    margin-top: 1%;
    z-index: 1;
}

.btn {
    transition: all .25s ease-in-out;
}

.btn:hover {
    background: #FFFFFF;
    color: #36017E;
}

div.foot-img {
    position: absolute;
    top: 65%;
    width: 100%;
    z-index: 0 !important;
    margin-right: 0;
}

img.leaves3 {
    position: relative;
    left: 5px;
    width: 25%;
    margin-right: 0;
}

.floating-leaves {
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

    @keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); } 
}

div.foot {
    z-index: 1 !important;
}

div.footer { 
    padding: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    color: #5C5C5C;
}

@media (max-width: 768px) {
    img.leaves2, img.leaves3 {
        display: none;
    }
    
    div.main-head-img img {
        transform: translateX(35%);
    }
    
    div.bottom {
    top: -200px;
    background: linear-gradient(0%, transparent 75%, #FF6F95 75%) 0 100%;
    }
}

@media (min-width: 769px) {
    img.leaves2, img.leaves3 {
        display: block;
    }
    
    div.main-head-img img {
        transform:translateX(0%);
    }
    
    div.bottom {
        background-image: url(images/background1.png);
        background-position: top center;
        background-size: cover;
    }
}
