body {
    
}

div.alt-sec-down {
    background: linear-gradient(#75CDA9, #FFFFFF);
}

div.alt-sec-up {
    background: linear-gradient(#ffffff, #75CDA9);
}

h1 {
    color: #7F283B;
    font-family: 'Cormorant Garamond', serif;
}

nav.navbar {
    background-color: #75CDA9;

}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

div.logo {
    padding-left: 2%;
}

div.logo .navbar-brand {
    font-family: 'Cormorant Unicase', serif;
    font-size: 30px;
    text-decoration: none;
    color: #4A4A4A;
}

ul.nav {
    margin-right: 1%;
}

ul.nav li a {
    text-decoration: none;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    color: #4A4A4A;
}

ul.nav li a:hover {
    color: #FF5075;
}

ul.nav li a.nav-contact-link:hover {
    background-color: transparent;
}

button.nav-contact {
    margin-top: -8%;
    border-radius: 0px !important;
    background-color: #F78E7B;
    color: #FFFFFF;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}

button.nav-contact:hover {
    background-color: #fff;
    color: #F78E7B;
}

div.logo-image {
    text-align: center;
}

div.logo-image img {
    position: relative;
    
}

div.logo-text {
    color: #0097B1;
    position: relative;
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Pacifico';
    text-align: center;
}

div.about-text {
    color: #4A4A4A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
}

button.view-prototype {
    margin-top: 20px; 
    border-radius: 0px !important;
    padding: 10px 40px;
    background-color: #12B6D2;
    color: #FFFFFF;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}

div.iphone-image {
    text-align: center;
}

div.iphone-image img {
    position: relative;
    width: 80%;
    height: auto;
    margin-top: 50px;

}


div.dots-white-1 {
    margin-top: 80px;
    text-align: center;
}

div.introduction {
    color: 4A4A4A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    margin-top: 50px;
    text-align: center;
}

div.problem {
    color: 4A4A4A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    
}

div.problem-dots-white, div.problem-body {
    margin-top: 40px;
    text-align: center;
}

div.food-truck img {
    width: 100%;
    height: auto;
}

div.single-dots img {
    /*margin-left: 155%;
    margin-top: 100px;*/
}

div.user-surveys {
    color: #00A8C5;
    position: relative;
    margin-top: 140px;
    font-size: 50px;
    font-family: 'Pacifico';
    text-align: center;
}

div.survey-intro {
    color: #4A4A4A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    /*margin-top: -5px;
    margin-left: 35%;*/
    text-align: center;
}

div.dots-white-2 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

div.survey-list p {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    color: #4A4A4A
}

div.user-persona {
    margin-top: 150px;
    color: #0097B1;
    font-size: 50px;
    font-family: 'Pacifico';
}

.persona {
    text-align: center;

}

div.persona-intro {
    color: #4A4A4A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
}

h1 {
    font-family: 'Pacifico', cursive;
    color: #0097B1;
    font-size: 40px;
}

h3 {
    font-family: 'Cormorant Garamond', serif;
    color: #4A4A4A
        
}

h5 {
    font-family: 'Cormorant Garamond', serif;
    color: #4A4A4A
}

div.avatar img {
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    margin-top: 10%;
}

div.personas {
    text-align: center;
}

div.personas-head {
    margin-left: 20px;
    margin-right: 30px;
}

div.personas-body {
    font-family: 'Cormorant Garamond', serif;
    color: #4A4A4A;
    padding-left: 30px;
    padding-right: 30px;
}

div.analysis {
    text-align: center;
}

div.analysis-head {
    text-align: center;
    margin-top: 5%;
    color: #0097B1;
    font-size: 50px;
    font-family: 'Pacifico';
}

div.analysis-sub-head {
    padding-left: 30px;
    padding-right: 30px;
}

div.analysis-intro {
    color: #4A4A4A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
}

div.brand-logo img {
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    margin-top: 40px;
}

div.grub img {
    padding-top: 35px;
    padding-bottom: 20px;
}

div.avatar img {
    width: 100%;
    height: auto;
    max-width: 150px;
    max-height: 150px;
    margin-top: 10%;
}

div.analysis-body, div.analysis-body h4, div.analysis-body p {
    font-family: 'Cormorant Garamond', serif;
    color: #4A4A4A;
}

div.logo-design {
    color: #0097B1;
    position: relative;
    padding-top: 50px;
    font-size: 50px;
    font-family: 'Pacifico';
    text-align: center;
}

div.logo-design-intro {
    color: #4A4A4A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
}

div.logo-design-img img {
    margin-top: 40px;
    width: 80%;
    height: auto;
}

div.user-stories {
    color: #0097B1;
    position: relative;
    margin-top: 80px;
    font-size: 50px;
    font-family: 'Pacifico';
    text-align: center;
}

div.user-stories-intro {
    color: #4A4A4A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
}

div.user-stories-list {
    color: #FFFFFF;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    
}

div.user-story-background {
    margin-top: 30px;
    background-image: url(images/user-story-background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

div.user-flow {
    color: #0097B1;
    position: relative;
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Pacifico';
    text-align: center;
}

div.user-flow-intro {
    color: #4A4A4A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
}

div.user-flow-image img {
    margin-top: 40px;
    width: 80%;
    height: auto;
}

div.high-fidelity {
    color: #0097B1;
    position: relative;
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Pacifico';
    text-align: center;
}

div.high-fidelity-image img {
    margin-top: 60px;
}

div.detail-pages {
    color: #0097B1;
    position: relative;
    margin-top: 150px;
    font-size: 50px;
    font-family: 'Pacifico';
    text-align: center;
}

div.detail-pages-intro {
    color: #4A4A4A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
}

div.detail-pages, div.detail-page-image {
    text-align: center;
    margin-top:50px;;
}

div.detail-page-image img {
    width: 100%;
    height: auto;
}

div.shopping-cart {
    color: #0097B1;
    position: relative;
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Pacifico';
    text-align: center;
}

div.shopping-cart-image img {
    margin-top: 40px;
    width: 100%;
    height: auto;
}

div.shopping-cart-intro {
    color: #4A4A4A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
}

div.designing-homepage {
    color: #0097B1;
    position: relative;
    padding-top: 50px;
    font-size: 50px;
    font-family: 'Pacifico';
    text-align: center;
}

div.designing-homepage-intro {
    color: #4A4A4A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
}

div.homepage-wireframes img {
    margin-top: 40px;
    width: 80%;
    height: auto;
}

div.preference-test {
    color: #0097B1;
    position: relative;
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Pacifico';
    text-align: center;
}

div.about-pref-test {
    color: #4A4A4A;
    margin-top: 50px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
}

div.preference-wireframes img {
    margin-top: 40px;
    width: 80%;
    height: auto;
}

div.final-design {
    color: #0097B1;
    position: relative;
    margin-top: 100px;
    font-size: 50px;
    font-family: 'Pacifico';
    text-align: center;
}

div.preference-final-design img {
    margin-top: 40px;
    width: 80%;
    height: auto;
}

div.about-final-design {
    color: #4A4A4A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}

div.final-design-images img {
    margin-top: 50px;
    width: 70%;
    height: auto;
}

div.what-i-learned {
    color: #0097B1;
    position: relative;
    margin-top: 60px;
    font-size: 50px;
    font-family: 'Pacifico';
    text-align: center;
}

div.what-i-learned-intro {
    color: #4A4A4A;
    font-family: 'Cormorant Garamond', serif;
    font-size: 25px;
    text-align: center;
}

div.contact-me {
    color: #4A4A4A;
    position: relative;
    margin-top: 80px;
    font-size: 30px;
    font-family: 'Pacifico';
    text-align: center;
}

div.wireframes {
    text-align: center;
}

div.high-fidelity-image img {
    width: 100%;
    height: auto;
}

button.send-email {
    margin-top: 0px; 
    border-radius: 0px !important;
    padding: 10px 40px;
    background-color: #12B6D2;
    color: #FFFFFF;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
}

button.send-email:hover, button.view-prototype:hover {
    background-color: #fff;
    color: #12B6D2;
}

div.foot {
    z-index: 1 !important;
}

div.project-images {
    margin-top: 20px;
}

div.peachface-project-image img {
    width: 100%;
    height: auto;
}

div.blocbox-project-image img {
    width: 100%;
    height: auto;
}

div.footer { 
    padding: 5px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 20px;
    color: #4A4A4A;
    text-align: left;
}




